name: Android CI

on:
  push:
    branches: 
      - main
      - simple-design
      - libsu-simple-design

  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Create signing key
      run: echo ${{ secrets.SIGNING_KEY }} | base64 --decode > release_key.jks
  
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      env:
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}

      run : |
          ./gradlew assembleRelease
          find . -type f -name "*.apk"
          chmod +x uploadtg.sh

    - name: upload to tg
      env:
        CHAT_ID: ${{ secrets.CHAT_ID }}
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        COMMIT_URL: ${{ github.event.head_commit.url }}
        RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        TITLE: Dualboot Helper
      run: |
        if [ ! -z "${{ secrets.CHAT_ID }}" ] && [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
          export VERSION=$(git rev-list --count HEAD)
          bash $GITHUB_WORKSPACE/uploadtg.sh $(find . -type f -name "*.apk")
        else
          echo "Telegram bot token is undefined, please add it to repository secrets!"
          exit 1
        fi
        
    - uses: actions/upload-artifact@v4
      with: 
        path: "app/build/outputs/apk/release/app-release.apk"